node_modules/

.DS_Store

public/viewer/*
public/discovery/*

package-lock.json

npm-debug.log
yarn-error.log

certs/

functions/src
functions/index.js
functions/index.html

functions/ssr/

functions/client/


public/

\.firebase/
